# DAY-2

### LISTS

In [15]:
lst=[1,'Akshay',8657993382,104,'dbda']
lst

[1, 'Akshay', 8657993382, 104, 'dbda']

In [16]:
type(lst)

list

In [23]:
'''
List can be indexed and is mutable in nature


'''

'\nList can be indexed and is mutable in nature\n\n\n'

In [24]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
lst.append(1)

In [19]:
lst

[1, 'Akshay', 8657993382, 104, 'dbda', 1]

In [20]:
lst.append('Raju')

In [21]:
lst

[1, 'Akshay', 8657993382, 104, 'dbda', 1, 'Raju']

In [29]:
lst.append('Raju')
lst

[1, 'Akshay', 8657993382, 104, 'dbda', 1, 'Raju', 'Raju', 'Raju']

In [46]:
#MUTTABLE
lst[-9] += 1

In [48]:
lst

[4, 'Akshay', 8657993382, 104, 'dbda', 5, 'Raju', 'Raju', 'Raju']

In [49]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
lst.insert(1,9)

In [52]:
lst

[4, 9, 'Akshay', 8657993382, 104, 'dbda', 5, 'Raju', 'Raju', 'Raju']

In [86]:
lst.pop(0)

4

In [91]:
lst.append('Aakash')

In [92]:
lst

[9, 'Aakash']

In [101]:
lst[-1] = 'ABC'

In [102]:
lst

[9, 'ABC']

In [103]:
lst.append('Append')

In [112]:
lst.pop(0)

9

In [118]:
for i in range(len(s)):
    lst[1] += 'Sharma'
    print(i)

0
1
2

In [119]:
lst

['ABCSharmaSharmaSharmaSharmaSharmaSharma',
 'AppendSharmaSharmaSharmaSharmaSharma']

### Enumerate

In [ ]:
#DEF : It allows us to loop over something and have an automatic counter.

In [121]:
lst1=[10,9,8,7,6,5,4,3,2,1,'Akshay','Pratik']
for i,ele in enumerate(lst1):
    print(i,lst1)

0 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
1 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
2 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
3 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
4 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
5 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
6 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
7 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
8 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
9 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
10 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']
11 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']

## Slicing

In [125]:
#listname[start : end : stepsize]
'''
start : Start of slicing
end: End of slicing but excluding end
stesize:slice increment values
'''
lst1[0::1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Akshay', 'Pratik']

In [128]:
lst1[::-1]

['Pratik', 'Akshay', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [135]:
#Count the words(char)
n=input('enter strings   ')
count=0
for i in n:
    if i==' ':
        count+=1
print(len(n)-count)

enter strings   python is          fun
11

In [139]:
n=input('Enter a string')
n1=len(n.split())
print(n1)

Enter a stringpython is fun
3

In [141]:
n

'python is fun'

In [151]:
#Q1 Count Words in a string
#Q2 Convert list to string

### Join

In [152]:
help(str.join)

Help on method_descriptor:

join(...)
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

In [154]:
' '.join(['1','one'])

'1 one'

In [155]:
'g'.join(['1','one'])

'1gone'

In [157]:
s2=['Python', 'is', 'fun']

In [158]:
s2[-3]='learning'
''.join(s2)

'learningisfun'

## DATATYPES

### TUPLES : 
In Python programming, a tuple is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas in a list, elements can be changed.<br>
my_tuple = (1, 2, 3)<br>
-> Tuples are faster than lists.<br>
<b>When to use tuple ? </b><br>
if you're are going to iterate over constant set of value

In [159]:
t=(3,4,5)

In [160]:
t[2]

5

In [161]:
type(t)

tuple

In [162]:
# Tuples are immutable.i.e they can't be updated
t[0]=99

TypeError: 'tuple' object does not support item assignment

## READING FILES

In [168]:
h=open('sample.txt','r')
content=h.read()
content

'Hi\nHello\nHow are you ?\n'

In [173]:
h=open('sample.txt','r')
content=h.readline()
content

'Hi\n'

In [170]:
h.close()

In [174]:
h=open('sample.txt','r')
for line in h:
    print(line,end='')

Hi
Hello
How are you ?

In [175]:
h.close()

In [203]:
#Q : Read a file and create a list of all words in that file. Sort it and display
h=open('sample.txt','r')
var=''
for line in h:
    var=var+line
test=[i for i in var]
test.sort()

In [205]:
for i in test:
    print(i,end='')

   ?HHHaeeilloooruwy

In [211]:
#PYTHONIC WAY
h=open(r'/home/student/AnacondaPY/sample.txt','r')
s=h.read().split()
s.sort()
print(s)
h.close()

['?', 'Hello', 'Hi', 'How', 'are', 'you']

In [213]:
h=open(r'/home/student/AnacondaPY/sample.txt','r')
lst=[]
for line in h:
    lst.extend(line.split())
lst.sort()
print(lst)

['?', 'Are', 'Hello', 'Hi', 'How', 'you']

In [234]:
'''with open(r'/home/student/AnacondaPY/untitled1.txt','r') as myfile:
    data=myfile.read().replace(',',' ')
lst=[]
for line in data:
    lst.append(line.split())
lst.sort()
print(lst)
minval=lst[0]
maxval=lst[-1]
avg=0
for i in lst:
    avg+=i
print(minval)
print(maxval)
print(avg/len(lst))'''
h.close()

In [4]:
lst = []
with open('/home/student/AnacondaPY/untitled1.txt','r') as h:
    contents = h.read().split(',')
    for ele in contents:
        lst.append(int(ele))
lst
print(min(lst))
print(max(lst))
print(len(lst))
print(sum(lst))
print(sum(lst)/len(lst))

24
48
6
208
34.666666666666664

In [13]:
#Histogram Print
l1=[4,5,7]
for i in l1:
    for j in range(i):
        print('*',end='')
    print('\n')

****

*****

*******

## Dictionary

Dictionary is a built-in object which holds key-value pair(item).<br>
Dictionary holds item in random order like hash mapping.<br>
Key-> has to be immutable(and unique)->string,number.we index the things in dict with a loopkup tag.<br>
Values-> can beanything.<br>
Dict is mutable and dynamin in nature.<br>
del d -> delete dict<br>
del d['a'] -> delete an item.<br>

In [14]:
d={1:101,2:55,7:56}
type(d)

dict

In [15]:
emp={'name':'Aakash','salary': 12000,'id':'m205'}
emp

{'name': 'Aakash', 'salary': 12000, 'id': 'm205'}

In [16]:
emp['salary']

12000

In [17]:
d[1]

101

In [19]:
emp['salary']=50000

In [20]:
emp

{'name': 'Aakash', 'salary': 50000, 'id': 'm205'}

In [ ]:
#EACH ITEM IS NOT INDEXED BUT CAN BE ACCESSSED USING A LOOKUP TAG(key)

In [54]:
purse={'money':5000,'cards':3,'candies':85,'vcards':True}
purse

{'money': 5000, 'cards': 3, 'candies': 85, 'vcards': True}

In [28]:
purse['gifts']=['doll','toy','candies']
purse

{'money': 5000,
 'cards': 3,
 'candies': 103,
 'vcards': True,
 'gifts': ['doll', 'toy', 'candies']}

In [29]:
purse['gifts'][1]

'toy'

In [33]:
purse['gifts'][1]={'toys':{'soft':'barbie','hard' : ['car','jeep','truck']}}

In [34]:
purse

{'money': 5000,
 'cards': 3,
 'candies': 103,
 'vcards': True,
 'gifts': ['doll',
  {'toys': {'soft': 'barbie', 'hard': ['car', 'jeep', 'truck']}},
  'candies']}

In [35]:
purse['gifts'][1]['toys']['hard'][1]

'jeep'

In [36]:
d={}
d

{}

In [37]:
d=dict()
d

{}

In [38]:
for i in purse:
    print(i)

money
cards
candies
vcards
gifts

In [39]:
for i in purse['gifts']:
    print(i)

doll
{'toys': {'soft': 'barbie', 'hard': ['car', 'jeep', 'truck']}}
candies

In [45]:
for i in purse['gifts'][1]['toys']:
    print(i)

soft
hard

In [50]:
for i in purse['gifts'][1]['toys']['hard']:
    print(i)

car
jeep
truck

In [55]:
dir(purse)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [60]:
help(purse.get)

Help on built-in function get:

get(...) method of builtins.dict instance
    D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.

In [61]:
print(purse.get('money'))

5000

In [62]:
print(purse.keys())

dict_keys(['money', 'cards', 'candies', 'vcards'])

In [63]:
print(purse.values())

dict_values([5000, 3, 85, True])

In [64]:
print(purse.items())

dict_items([('money', 5000), ('cards', 3), ('candies', 85), ('vcards', True)])

In [67]:
a=5
y=100 if a==5 else 200
y

100