# Generators

Generators simplifies creation of iterators. A generator is a function that produces a sequence of results instead of a single value.<br>
Each time the yield statement is executed the function generates a new value.<br>
**next()** : next is a generator function which takes a generator object and returns it next value <br>
1. Repeatedly calling next function with same gen objects resumes exactly where it left of and continues until it hit the next else statment.

In [14]:
def simpel_generator():
    print("Hi")
    yield 'Hello'
    x=10
    y=x+5
    print(y)
    yield "World"
    yield x
    
ret=simpel_generator()
print(type(ret))
#print(next(ret))
#print(next(ret))

for i in ret:
    print(i)

<class 'generator'>
Hi
Hello
15
World
10

In [2]:
def fib_gen(max):
    first,second=0,1
    while first < max:
        yield first
        first,second=second,first+second
gen = fib_gen(1000)

for i in gen:
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [4]:
def fib_gen(max):
    first,second=0,1
    for i in range(0,max):
        yield first
        first,second=second,first+second
gen = fib_gen(19)

for i in gen:
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

## KEYWORD Arguements

### Different ways of passing arguements to function

In [8]:
def employees(e,c,dept='IT',sal=0):
    name=input('enter name of empl:')
    print('name of empl is',name)
    print('emp id:',e)
    print('dept is',dept)
empl_id = 101
#employees(empl_id)
course='dbda'
employees(empl_id,course,'ADMIN',sal=10000)

enter name of empl:akshay
name of empl is akshay
emp id: 101
dept is ADMIN

In [ ]:
def employees(e,c,dept='IT',sal=0):
    name=input('enter name of empl:')
    print('name of empl is',name)
    print('emp id:',e)
    print('dept is',dept)
empl_id = 101
#employees(empl_id)
course='dbda'
employees(emp_id,course,dept='ADMIN',sal=10000)

In [ ]:
def employees(e,c,dept='IT',sal=0):
    name=input('enter name of empl:')
    print('name of empl is',name)
    print('emp id:',e)
    print('dept is',dept)
empl_id = 101
#employees(empl_id)
course='dbda'
employees(emp_id,course)

In [17]:
def employees(e,*args,dept='IT',sal=0):
    print('Emp ID is',e)
    print('emp id:',args)
empl_id = 101
course='dbda'
employees(empl_id,course,25,dept='Admin',sal=1000)

Emp ID is 101
emp id: ('dbda', 25)

In [14]:
def employees(*args,dept='IT',sal=0):
    #print(e)
    print('emp id:',args)
empl_id = 101
course='dbda'
employees(empl_id,course,25,dept='Admin',sal=1000)

emp id: (101, 'dbda', 25)

In [26]:
def employees(*args,**other_info):
    print('All non-key arguements:-> ',args)
    print('All key arguements:-> ',other_info["dept"])
empl_id = 101
course='dbda'
employees(empl_id,course,25,'pune',dept='Admin',sal=1000)

All non-key arguements:->  (101, 'dbda', 25, 'pune')
All key arguements:->  Admin

# Lambda Functions

This is a simple and light weight and un-named.
1. It is a single expression function.
2. There is no return type
3. Anonymous function
4. Cann't have doc-string
5.

### Why Use Lambda Functions?
***The power of lambda is better shown when you use them as an anonymous function inside another function.***

In [31]:
v=lambda x,y: x+y
type(v)

function

In [32]:
print(v(3,4))

7

In [27]:
x = lambda a : a + 10
print(x(5))

15

In [33]:
v=lambda x,y: x-y if x>y else y-x
print(v(3,4))

1

# MAP

The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.<br>
**SYNTAX**<br>
~~~~
map(function, iterable, ...)
~~~~

### map() Parameter
***function - map()*** passes each item of the **iterable** to this function.<br>
**iterable** - iterable which is to be mapped<br>
 1. ** You can pass more than one iterable to the map() function.

In [38]:
#Example

def square(x):
    return x**2
print(list(map(square,[1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [39]:
def square(x):
    return x**2
res=(map(square,[1,2,3,4,5]))
for i in res:
    print(i)

1
4
9
16
25

In [41]:
'''
    Convert a list of strings into list of integers
'''
lst=['23','24','25']
new_lst=list(map(int,lst))
print(new_lst)

[23, 24, 25]

In [44]:
#string to ascii
new=list(map(ord,'python is fun'))
print(new)

[112, 121, 116, 104, 111, 110, 32, 105, 115, 32, 102, 117, 110]

In [50]:
def surname_based(name):
    return name.split()[1]

students=['Aakash Sharma','Vinay Kumar','Jatin Doshi']
print(students)
students.sort(key=surname_based,reverse=False)
print(students)

['Aakash Sharma', 'Vinay Kumar', 'Jatin Doshi']
['Jatin Doshi', 'Vinay Kumar', 'Aakash Sharma']

In [51]:
students=['Aakash Sharma','Vinay Kumar','Jatin Doshi']
print(students)com
students.sort(key=lambda x:x.split()[1],reverse=False)
print(students)

['Aakash Sharma', 'Vinay Kumar', 'Jatin Doshi']
['Jatin Doshi', 'Vinay Kumar', 'Aakash Sharma']

In [14]:
students=['Aakash Sharma','Vinay Kumar','Jatin Doshi']
x=students
x[0].split()[1]

'Sharma'

### SORT Algorithm

1. Get a list
2. Apply the key
3. Sort it
4. Arrange

In [2]:
employees=[['Z',98],['Y',97],['X',96]]
print(employees)
employees.sort(key=lambda x:x[1])
print(employees)

[['Z', 98], ['Y', 97], ['X', 96]]
[['X', 96], ['Y', 97], ['Z', 98]]

In [5]:
test=['Z',98],['y',87]
test[0]

['Z', 98]

# SET


**Def**-> A set is a <br>
 1. Collection of unique elements.
 2. Unordered Collections
 3. Mutable
 4. can't be indexed
----------------------------------------------------------
*Operations on Sets*
1. Union
2. Intersection
3. Differeence

In [6]:
my_set={1,2,3,3,4,5,6,6,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [7]:
dir(my_set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
my_set.add((123,5,6))

In [14]:
my_set

{(123, 5, 6), 1, 2, 3, 4, 5, 6, 7}

In [17]:
eng={'A','B','C'}
prog={'D','E','F'}

set()

In [18]:
eng - prog

{'A', 'B', 'C'}

In [19]:
fs=frozenset(['a','b'])
fs

frozenset({'a', 'b'})

In [20]:
type(fs)

frozenset

In [23]:
lc = [ x for x in range(10) if x%2==0 ]
lc

[0, 2, 4, 6, 8]

In [24]:
lc = { x for x in range(10) if x%2==0 }
lc

{0, 2, 4, 6, 8}

In [ ]:
lc

## Modules

<p>
    If you quit from the Python interpreter and enter it again, the definitions you have made (functions and variables) are lost. Therefore, if you want to write a somewhat longer program, you are better off using a text editor to prepare the input for the interpreter and running it with that file as input instead. This is known as creating a script. As your program gets longer, you may want to split it into several files for easier maintenance. You may also want to use a handy function that you’ve written in several programs without copying its definition into each program.</p>
<p>
    To support this, Python has a way to put definitions in a file and use them in a script or in an interactive instance of the interpreter. Such a file is called a module; definitions from a module can be imported into other modules or into the main module (the collection of variables that you have access to in a script executed at the top level and in calculator mode).</p>
<p>
    A module is a file containing Python definitions and statements. The file name is the module name with the suffix .py appended. Within a module, the module’s name (as a string) is available as the value of the global variable __name__. For instance, use your favorite text editor to create a file called fibo.py in the current directory with the following contents:</p>
    
~~~~
# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while b < n:
        print b,
        a, b = b, a+b

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while b < n:
        result.append(b)
        a, b = b, a+b
    return result
~~~~

In [9]:
# WAP To calculate area of a circle
from math import pi
def acircle(radius):
    return pi*radius**2
def ccircle(radius):
    return 2*pi*radius

acircle(4)

50.26548245743669

In [10]:
ccircle(4)

25.132741228718345

In [19]:
%time
from math import pi
print(pi*4**2)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs
50.26548245743669

In [20]:
%time
from math import pi
print(pi*4*4)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs
50.26548245743669