In [84]:
#Tables
num = int(input("Display multiplication table of? "))
for i in range(1, 11):
    print(num,'x',i,'=',num*i)

Display multiplication table of? 24
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

# Assignment 1

In [12]:
n=int(input('Enter any natural number'))
for i in range(n+1):
    print(i)

Enter any natural number5
0
1
2
3
4
5

In [21]:
n=int(input('Enter any natural number'))
for i in range(n,0,-1):
    print(i)

Enter any natural number5
5
4
3
2
1

In [23]:
for i in range():
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [24]:
for i in range(1,101):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [25]:
for i in range(1,101):
    if i % 2 == 1 :
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Assignment 2

In [37]:
n=int(input("Enter any natural number"))
sum=0
for i in range(0,n+1):
    sum=sum+i
print(sum)

Enter any natural number4
10

In [39]:
n=int(input("Enter any natural number"))
sum=0
for i in range(0,n+1):
    if i % 2 ==0:
        sum=sum+i
print(sum)

Enter any natural number6
12

In [40]:
n=int(input("Enter any natural number"))
sum=0
for i in range(0,n+1):
    if i % 2 ==1:
        sum=sum+i
print(sum)

Enter any natural number5
9

In [41]:
num = int(input("Display multiplication table of? "))
for i in range(1, 11):
    print(num,'x',i,'=',num*i)

Display multiplication table of? 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [52]:
#To Count no of digits
count=0
num=int(input("Enter the number"))
while ( num > 0 ):
    num=num//10
    count=count+1
print(count)

Enter the number1236
4

In [57]:
#Sum Of Digits in a given number
sum=0
num=int(input("Enter the number"))

while ( num > 0 ):
    dig=num%10
    sum=sum+dig
    
    num=num//10
print(sum)

Enter the number1234
10

In [66]:
sum=0
num=int(input("Enter the number"))
while ( num > 0 ):
    dig=num%10
    sum=sum+dig
    print(dig,end=' ')  
    num=num//10

Enter the number123456789
9 8 7 6 5 4 3 2 1

In [67]:
n=int(input("Enter any no"))
for i in range(n,n+1):
    print(i)

Enter any no123456
123456

In [69]:
sum=0
num=int(input("Enter the number"))

while ( num > 0 ):
    dig=num%10
    print(dig)
    
    
    
    num=num//10
print(sum)

Enter the number564
4
6
5
0

In [77]:
n=int(input("enter no"))
while n >= 10:
    n=n/10
a=int(n)

b=n%10
print(a+b)

enter no123
2.23

In [1]:
a=int(input("Enter number: "))
k=0
for i in range(2,a//2+1):
    if(a%i==0):
        k=k+1
if(k<=0):
    print("Number is prime")
else:
    print("Number isn't prime")

Enter number: 2
Number is prime

In [5]:
#Q16.
a=input("enter a number to reverse")
a[::-1]

enter a number to reverse123

'321'

In [ ]:
#Q18

In [14]:
#Q17
a=input("enter a number to reverse")
temp=a
var1=temp[::-1]
if a==var1:
    print("Palindrome")
else:
    print("Not Palindrome")

enter a number to reverse123
Not Palindrome

In [15]:
#Q19
a=int(input("Enter a number"))
for i in range(a+1):
    print(i**2)

Enter a number5
0
1
4
9
16
25

### Assignment 5

In [20]:
#Q-21
n=int(input("Enter a number to find factorial"))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(fact)

Enter a number to find factorial5
120

In [35]:
#Q-22
a,b=int(input("Enter two numbers")),int(input("Enter two numbers"))
while b:
    a, b = b, a%b
print(a)

Enter two numbers271
Enter two numbers173
1

In [ ]:
#Q-23

In [ ]:
#Q-24
a=int(input("Enter number: "))
k=0
for i in range(2,a//2+1):
    if(a%i==0):
        k=k+1
if(k<=0):
    print("Number is prime")
else:
    print("Number isn't prime")

In [18]:
#Q-25

### Assignment -6